<% if @track.current_location <= Location.last.id && @track.current_tour <= Tour.last.id %>
	<% @location = Location.find(@track.current_location) %>
	<% size_location = @location.tours.size
		if size_location == 1
			class_size_location = ''
		elsif size_location == 2
			class_size_location = 'col col-3of6'
		elsif size_location == 3
			class_size_location = 'col col-2of6'
		elsif size_location == 4
			class_size_location = 'col col-press-25'
		elsif size_location == 5
			class_size_location = 'col col-press-20'
		end	
	%>

	<% if @track.current_quest == 1 && !@track.complete_quest %>
		<div class='first-quest-for-user glass-background02 pd40 mbm'>
			<div class='col col-4of6'><b>Привет, друг!</b></br>Ниже находится твой первый уровень. Кликни на него и пройди все квесты.</div>
			<div class='col col-2of6 tac'><img class='floating' src='/images/down-arrow.png' /></div>
			<div class='clear'></div>
		</div>
	<% end %>

	<div class='location card mbm'>
		<div class='location-title-and-participant'>
			<span class="tag tag--heading tag--red fr tag--diploma">После прохождения диплом</span>
			<% if @location %>
				<h2><%= @location.name %></h2>
			<% end %>
		</div>
		<div class='cover location<%= @track.current_location %> location-content'>
			<% tours = Tour.find(Location.find(@track.current_location).tours) %>	
			<% tours.each do |tour|%>
				<% if @track.current_tour == tour.id %>
					<a href='/start' >
				<% end %>
					<div class='the-tour tour<%= tour.id %> <%= class_size_location %>'>
						<div class='wrap-img-tour ma tac' style="background: url(/images/tours/t<%=tour.id%>.png) center center / cover;">
							<% completed_tour = ''
								if @track.current_tour > tour.id 
									completed_tour = 'completed-tour'
								end %>
								<% floating = ''
								if @track.current_tour == tour.id 
									floating = 'floating'
								end %>
							<div class='<%= floating %> status-icon'>
								
								<% if @track.current_tour == tour.id %>
										<img src='images/this-tour1.png'/> <!--<span>Ты здесь!</span>-->
								<% end %>
							</div>
						</div>

						<% class_loc_progress = ''
						if (@track.current_tour == tour.id && @track.complete_quest)
							class_loc_progress = 'loc-progress'
						end %>
						<div class='title <%= completed_tour %> <%= class_loc_progress %>'>
							<% if @track.current_tour == tour.id && !@track.complete_quest %>
								<h6 class='tac' style='background-color: #1090f5; color: white;'><%= tour.name %></h6>
							<% elsif @track.current_tour < tour.id %>
								<h6 class='tac'><img src='/images/locked.png' /> <%= tour.name %></h6>
							<% else %>
								<h6 class='tac' style='color: white;'><%= tour.name %></h6>
							<% end %>
							<div class='clear'></div>
						</div>
					</div>
				<% if @track.current_tour == tour.id %>
					</a>
				<% end %>
			<% end %>
		</div>
		<div class='clear'></div>
	</div>
<% end %>
