<% quests.each.with_index(1) do |quest, i|%>
	<%
		quest_id = quest.id
		if current_user.age == 4 || current_user.age == 5
			pic1 = Task.find(Quest.find(quest_id).age6[1]).pic1
			if pic1 == "пусто"
				pic1 = Task.find(Quest.find(quest_id).age6[1]).pic2
			end
		elsif current_user.age == 6 || current_user.age == 7
			pic1 = Task.find(Quest.find(quest_id).age7[1]).pic1
			if pic1 == "пусто"
				pic1 = Task.find(Quest.find(quest_id).age7[1]).pic2
			end
		end
		
			
	%>
	<%
		if quest.id < current_user.track.current_quest
			status_quest = 2
		else
			if quest.id == current_user.track.current_quest
				if current_user.track.complete_quest
					status_quest = 2
				else
					status_quest = 1
				end
			else
				status_quest = 0
			end
		end

		if quest.id == current_user.track.current_quest
			active_link = true
		else
			active_link = false
		end

		quest_title = "Квест " + i.to_s
		quest_text = 'Выполни все задания, чтобы открыть следующий квест'
		if quest.checkpoint
			quest_title = "Котрольный квест"
			quest_text = 'Меньше ошибок - выше степень диплома'
		end
	%>
	<% if active_link %>
		<%= link_to trip_quests_path, class: "snap-sound" do %>
			<div class='trip-quest current-quest mbl'>
				<div class='status-trip-quest node'>
					<% if status_quest == 2 %>
						<img src='/images/done-quest.png' />
					<% elsif status_quest == 1 %>
						<img class='pulse' src='/images/play-quest.png' />
					<% else%>
						<img src='/images/node.png' />
					<% end %>
				</div>
				<div class='card card-trip-quest fr'>
					<div class='col-1of6 col tac'>
						<img src='<%= pic1 %>' />
					</div>
					<div class='direction-content col col-5of6'>
						<div>
							<span class='tag tag--heading'>Для <%= current_user.age %> лет</span>
							<% if quest.checkpoint %>
								<span class='tag tag--heading tag--red fr tag--diploma'>После прохождения диплом</span>
							<% end %>
						</div>
						<h3 class='h--thin tcm mbm'><%= quest_title %></h3>
						<p><%= quest_text %></p>
					</div>
					<div class='clear'></div>
				</div>
				<div class='clear'></div>
			</div>
		<% end %>
	<% else %>
		<div class='trip-quest trip-quest-inactive mbl'>
			<div class='status-trip-quest node'>
				<% if status_quest == 2 %>
					<img src='/images/done-quest.png' />
				<% elsif status_quest == 1 %>
					<img src='/images/play-quest.png' />
				<% else %>
					<img src='/images/node.png' />
				<% end %>
			</div>
			<div class='card card-trip-quest fr'>
				<div class='col-1of6 col tac'>
					<img src='<%= pic1 %>' />
				</div>
				<div class='direction-content col col-5of6'>
					<div>
						<span class='tag tag--heading'>Для <%= current_user.age %> лет</span>
						<% if quest.checkpoint %>
							<span class='tag tag--heading tag--red fr tag--diploma'>После прохождения диплом</span>
						<% end %>
					</div>
					<h3 class='h--thin tcm mbm'><%= quest_title %></h3>
					<p><%= quest_text %></p>
				</div>
				<div class='clear'></div>
			</div>
			<div class='clear'></div>
		</div>
	<% end %>
<% end %>

<script>
	$('.card-trip-quest .col-1of6 img').height($('.card-trip-quest .col-1of6 img').width())
</script>
