<div class='row first-page-elm'>
	<div class='cell'>
		<div class='col col-press-18 col-profile'>
			<%= render "/partials/profile" %>
		</div>
		<div class='col col-58proc col-main ml-2proc'>
			<h2 class='h--thin mbm'><span class='prxs'>Редактирование квеста</span></h2>
			<%= simple_form_for(@quest, url: quest_path, html: { class: 'edit-user-data' }) do |f| %>
	      <%= f.input :age3, label: false, input_html: { placeholder: 'Имя' } %>
	      <%= f.input :age4, collection: 4..7, label: false, prompt: "Сколько лет ребенку?" %>
	      <%= f.input :ag5, collection: [ "Подготовка к школе", "Развитие логики, памяти и внимания у ребенка", "Хочу развлечь ребенка с пользой"], label: false, prompt: "Какая цель?" %>
	      <a class='link-change-password'>Сменить пароль</a>
	      <%= f.button :submit, 'Сохранить', class: 'btn btn-our btn-our-green fr' %>
		  <% end %>
		</div>
	</div>
</div>

