<div class='row first-page-elm--no-attarction prev-quest-page'>
	<div class='cell'>
		<% if !expiry_monster_card? %>
			<%
				if logged_in?
					monster_presence = current_user.user_monster.monster_id
					mosnter_avatar = '/images/monster-none.png'
					if monster_presence != 0
					  mosnter_avatar = Monster.find(current_user.user_monster.monster_id).avatar
				  end
			  end
			%>
	   	<%= react_component("ShowQuest",
				tasks_url: extra_show_quest_path(@extra_quest),
				monster_name: current_user.user_monster.name,
				monster_presence: monster_presence,
				monster_avatar: mosnter_avatar,
				score: current_user.score,
				quest: true,
				complete_quest: current_user.track.complete_quest,
				profile_link: user_path(current_user),
				monster_card_link: monster_card_path,
				setting_link: edit_user_path(current_user),
				moderation: false,
				task_text_color: @extra_quest.task_text_color )
			%>
		<% else %>
			<%= render "/partials/lets_pay", text: "Продлите карту монстрика, чтобы получить доступ к этим квестам." %>
		<% end %>
	</div>
</div>

<style>
	<%
		if @extra_quest.background != ''
			quest_background = @extra_quest.background
		else
			quest_background = '/images/background1.jpg'
		end
	%>
	.div-body{
		background-color: #00a8c4 !important;
		background-image: url(<%= quest_background %>) !important;
		background-position-x: <%= @extra_quest.posx_background %>;
		background-position-y: <%= @extra_quest.posy_background %>;
		background-repeat: no-repeat;
	}
</style>