<div class='attraction-min quest-attraction tac'>
	<h1 class='center-title'>Квест на сегодня</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
		<%= render "/partials/profile_big" %>
		<div class='col col-67proc ml-2proc'>
			<% if logged_in? %>
				<% if @track.complete_quest == true && @quest.checkpoint %>
					<div class='next-quest next-tour card mbl'>
						<div class='col col-2of6'>
							<% pic_number = rand(4) 
								 if pic_number == 0
								 	format = "png"
								 else
								 	format = "gif"
								 end
							%>
							<img src='/images/next-quest-pics/next-quest-pic<%= pic_number %>.<%= format %>' class='img-next-quest'/>
						</div>
						<div class='col col-4of6 content'>
							<h1>Тур пройден, все квесты выполнены!</h1>
							<% if current_user.honors.last.degree == 0
								honor_degree = "Участника"
							else
								honor_degree = current_user.honors.last.degree.to_s+" степени"
							end %>
							<div class='invitation-tomorrow'><span class='degree-honor'>Диплом <%= honor_degree %></span></div>
							<div class='actions'>
								<p>Следующий тур интеллектуальной игры будет доступен завтра. <b>Приходи!</b></p>
							</div>
						</div>
						<div class='clear'></div>
					</div>
				<% end %>
				<% if @quests.count != 0 
					 	 quest_amount = @quests.count.to_s + " квеста"
					 else
					 	 quest_amount = "Совсем скоро новый тур"
					 end
				%>
				<% if @users_same_level.count != 1 
					 	 users_same_level_amount = "Вы и еще "+@users_same_level_amount.to_s+" человек проходят этот тур"
					 else
					 	 users_same_level_amount = "Вы первые, кто добрались до этого тура!"
					 end
				%>
				<h2 class='h--thin'><span class='prxs'>Тур на сегодня</span> <span class='tag tag--light tag--heading tag--heading--h2'><%= quest_amount %></span></h2>
				<div class='mbm pass-this-tour'>
					<div class='col'><%= users_same_level_amount %></div>
					<% @users_same_level.each do |track|%>
						<% 
							user = User.find(track.user_id)
							monster_id = user.user_monster.monster_id 
						%>
						<%= link_to user do %>
							<div class='col card circle'>
								<div class='avatar circle' style='background: url(/images/monsters/monster<%= monster_id %>.png) no-repeat; background-size: cover; background-position: center;'>
								</div>
							</div>
						<% end %>
					<% end %>
					<div class='clear'></div>
				</div>
				<% if current_user.payment_end_date > Time.now %>
					<% if @quests.count != 0 %>
						<%= render "trip", quests: @quests %>
					<% else %>
						<div class='card wait-quest'>
							<h1>Мы готовим для тебя новый тур</h1>
							<h2>Он будет доступен через 2-3 суток</h2>
							<div class='mtl mbm'><img src='/images/logo_transparent.png' /></div>
						</div>
					<% end %>
				<% else %>
					<%= render "/partials/lets_pay", text: "Новые квесты будут доступны после продления карты монстрика" %>
				<% end %>
			<% else %>
				<div class='lets-pay card'>
					<div class='col col-4of6 content'>
						<h1 class='about-IG'>
							<div>Интеллектуальная игра</div>
							<div>доступна после регистрации</div>
						</h1>
						<p class='second-text second-text-IG'>
							<span class='text'><b>Интеллектуальная игра</b> нацелена на развитие логики, речи, математического мышления, памяти, внимания и представлений об окружающем мире.
							<br><br>
							После каждого тура интеллектуальной игры <b>выдается диплом</b>.</span>
						</p>
					</div>
					<div class='clear'></div>
				</div>
			<% end %>
		</div>
		<%= render '/partials/alternative_column' %>
	</div>
</div>
