<!-- <div  id='logo'>
	<img src ='/images/logo-img.png' /> <span>Монстрики</span>
</div> -->
<div id='preslides'>

</div>
<div id='welcome-slide-1' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>
				Учение с увлечением!
			</h1>
			<p>
				Наши развивающие игры помогут вашим детям получать удовольствие от обучения. Стоит только попробовать!
				<div>
					<%= link_to 'Попробовать!', test_path, class: 'butn medium red rounded' %>
				</div>
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/learn-welcome.png'/>	
		<div class='clear'></div>
	</div>
</div>
<div id='welcome-slide-2' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>Выберите своего монстрика</h1>
			<p>Ваш ребенок выберет своего монстрика, чтобы выполнять вместе с ним задания и проходить квесты.</p>
		</div>
		<div class='welcome-slide-img'>
			<div class='col col-3of6'>
				<% monster = @monsters[1] %>
				<div class='pd6'> 
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='col col-3of6 pd6'>
					<% monster = @monsters[2] %>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='col col-3of6 pd6'>
					<% monster = @monsters[3] %>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='clear'></div>
			</div>
			<div class='col col-3of6 pd6'>
				<div class='col col-3of6 pd6'>
					<% monster = @monsters[4] %>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='col col-3of6 pd6'>
					<% monster = @monsters[5] %>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='clear'></div>
				<% monster = @monsters[0] %>
				<div class='pd6'>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
			</div>
		</div>
		<div class='clear'></div>
	</div>
</div>
<div id='welcome-slide-3' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>
				Успешное обучение в школе
			</h1>
			<p>
				Развитие логики, памяти, мышления, речи и математических навыков - основа успешного обучения в школе. И все это в процессе игры!
				<% if !logged_in? %>
					<div>
						<%= link_to 'Попробовать сыграть!', test_path, class: 'butn medium orange rounded' %>
					</div>
				<% end %>
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/img-slide3.png'/>	
		<div class='clear'></div>
	</div>
</div>

<style>
	
	#pre-footer{
    background: url(/images/pre-footer-white.png) top no-repeat !important;
	}
</style>
