<!-- <div  id='logo'>
	<img src ='/images/logo-img.png' /> <span>Монстрики</span>
</div> -->
<div id='preslides'>

</div>
<div id='welcome-slide-1' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>
				Ваш ребенок станет лучшим в своем классе!
			</h1>
			<p>
				Развитие логики, памяти и внимания у детей 4-7 лет.</br>Развлекайте ребенка и готовьте к школе одновременно!
				<div class='diploma'>
					+ ДИПЛОМ
					<% if !logged_in? %>
							<%= link_to 'Попробовать!', test_path, class: 'butn medium red rounded' %>
					<% end %>
				</div>
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/learn-welcome.png'/>	
		<div class='clear'></div>
	</div>
</div>
<div id='welcome-slide-2' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>Обучение в игровой форме</h1>
			<p>Ваш ребенок: </br>
				<p><b>1.</b> Выберет себе монстрика</p>
				<p><b>2.</b> Будет получать игровые монетки за правильные ответы в заданиях</p>
				<p><b>3.</b> Сможет тратить заработанные монетки по своему усмотрению</p>
				<p><b>4.</b> Научится управлять своим бюджетом</p>
		</div>
		<div class='welcome-slide-img'>
			<div class='col col-3of6'>
				<% monster = @monsters[1] %>
				<div class='pd6'> 
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='col col-3of6 pd6'>
					<% monster = @monsters[2] %>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='col col-3of6 pd6'>
					<% monster = @monsters[3] %>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='clear'></div>
			</div>
			<div class='col col-3of6 pd6'>
				<div class='col col-3of6 pd6'>
					<% monster = @monsters[4] %>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='col col-3of6 pd6'>
					<% monster = @monsters[5] %>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
				<div class='clear'></div>
				<% monster = @monsters[0] %>
				<div class='pd6'>
					<img class='card' src='<%= monster.avatar %>.gif' />
				</div>
			</div>
		</div>
		<div class='clear'></div>
	</div>
</div>
<div id='welcome-slide-3' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>
				Развлекайте ребенка с пользой!
			</h1>
			<p>
				Ваши дети будут улыбаться благодаря ярким и анимированные иллюстрациям на сайте.
				<% if !logged_in? %>
					<div>
						<%= link_to 'Попробовать сыграть!', test_path, class: 'butn medium orange rounded' %>
					</div>
				<% end %>
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/img-slide3.png'/>	
		<div class='clear'></div>
	</div>
</div>

<style>
	.footer-pre-footer #pre-footer{
    background: url(/images/pre-footer-white.png) top no-repeat;
    background-size: cover;
	}
</style>
