<!-- <div  id='logo'>
	<img src ='/images/logo-img.png' /> <span>Монстрики</span>
</div> -->
<div id='preslides'>

</div>
<div id='welcome-slide-1' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>
				Онлайн-олимпиады для детей 4-7 лет
			</h1>
			<p>
				Дистанционные олимпиады для дошкольников.</br>Участвуйте и <strong>побеждайте!</strong>
				<div class='diploma'>
					12 КРАСОЧНЫХ ДИПЛОМОВ
					<% if !logged_in? %>
							<%= link_to 'Пробная версия', test_path, class: 'butn medium red rounded' %>
					<% end %>
				</div>
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/learn-welcome.png' alt='Развитие речи, мышления и логики у ребенка' title='Развитие речи, мышления и логики у ребенка'/>	
		<div class='clear'></div>
	</div>
</div>
<div id='welcome-slide-2' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h2>Олимпиада в игровой форме</h2>
			<p>Ребенок выберет себе игрового персонажа, который будет помогать ему проходить олимпиаду.</br>
				<p>Пополняйте портфолио и развлекайте ребнка <b>одновременно!</b></p>
				<!--<p><b>2.</b> Будет получать игровые монетки за правильные ответы в заданиях</p>
				<p><b>3.</b> Сможет тратить заработанные монетки по своему усмотрению</p>
				<p><b>4.</b> Научится управлять своим бюджетом</p>-->
		</div>
		<div class='welcome-slide-img'>
			<div class='col col-3of6'>
				<% monster = @monsters[1] %>
				<div class='pd1p'> 
					<img class='card' src='<%= monster.avatar %>.gif'  alt='Развитие речи, мышления и памяти у ребенка' title='Развитие речи, мышления и памяти у ребенка'/>
				</div>
				<div class='col col-3of6 pd1p'>
					<% monster = @monsters[2] %>
					<img class='card' src='<%= monster.avatar %>.gif' alt='Подготовка ребенка к школе онлайн' title='Подготовка ребенка к школе онлайн'/>
				</div>
				<div class='col col-3of6 pd1p'>
					<% monster = @monsters[3] %>
					<img class='card' src='<%= monster.avatar %>.gif' alt='Развивающие игры для детей' title='Развивающие игры для детей'/>
				</div>
				<div class='clear'></div>
			</div>
			<div class='col col-3of6 pd1p'>
				<div class='col col-3of6 pd1p'>
					<% monster = @monsters[4] %>
					<img class='card' src='<%= monster.avatar %>.gif' alt='Развитие мышления у детей' title='Развитие мышления у детей'/>
				</div>
				<div class='col col-3of6 pd1p'>
					<% monster = @monsters[5] %>
					<img class='card' src='<%= monster.avatar %>.gif' alt='Развитие речи у детей' title='Развитие речи у детей'/>
				</div>
				<div class='clear'></div>
				<% monster = @monsters[0] %>
				<div class='pd1p'>
					<img class='card' src='<%= monster.avatar %>.gif' alt='Развитие памяти у детей' title='Развитие памяти у детей'/>
				</div>
			</div>
		</div>
		<div class='clear'></div>
	</div>
</div>
<div id='welcome-slide-3' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h2>
				Эмоциональные задания
			</h2>
			<p>
				Ваши дети будут улыбаться благодаря ярким и анимированные иллюстрациям на сайте.
				<% if !logged_in? %>
					<div>
						<%= link_to 'Попробовать сыграть!', test_path, class: 'butn medium orange rounded' %>
					</div>
				<% end %>
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/img-slide3.png' alt='Развитие логики у детей' title='Развитие логики у детей'/>	
		<div class='clear'></div>
	</div>
</div>

<style>
	.footer-pre-footer #pre-footer{
    background: url(/images/pre-footer-white.png) top no-repeat;
    background-size: cover;
    opacity: 1;
	}
	.footer-pre-footer #footer{
		background-color: rgba(0, 168, 196, 1);
	}
</style>
