<div class="modal fade" id="modal_buy_diploma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Покупка диплома, <%= honor.price %> ₽</h4>
      </div>
      <form method="POST" action="https://money.yandex.ru/eshop.xml">
        <div class="modal-body wrap-payment-inputs">
            <div>Мы пришлем Вам диплом на указанную здесь почту в течение 12 часов после оплаты.</div>
            <input type="hidden" name="shopId" value="72869">
            <input type="hidden" name="scid" value="70621">
            <input type='hidden' name="customerNumber" size="64" value='Пользователь: <%= current_user.id %>, Награда: <%= honor.id %>'>
            <input type='hidden' name="sum" size="64" value='<%= honor.price %>'>
            <input type="hidden" name="paymentType" value=""/>
            
            <p>E-mail:<font color="red">*</font></p>
            <input type='text' name="custEmail" size="43"><br>

            <p>ФИО плательщика:</p>
            <input type='text' name="custName" size="43"><br><br>

            <p class='sum-of-payment'>Сумма: <%= honor.price %> рублей</p><br><br>


            <input type="submit" value='Перейти к оплатите' class="btn btn-our-blue">
            
        </div>
      </form>
    </div>
  </div>
</div>
