<div class='attraction users-attraction'>
	<div class='row'>
		<%= render '/users/user_attraction' %> 
	</div>
</div>
<div class='row user-page-menu'>
	<%= render '/users/user_menu', user: @user %>
</div>
<div class='row'>
	<div class='cell mts'>
		<div class='col col-press-25 user-page-profile'>
			<%= render "/partials/user_monster", user: @user %>
		</div>
		<div class='col col-press-74 col-padding wrap-honor fr'>
			<% if @honor.degree == 0
					honor_degree = "Диплом участника"
				else
					honor_degree = "Диплом "+@honor.degree.to_s+" степени"
				end %>
			<h2 class='h--thin mbs'><span class='prxs'><%= honor_degree %></span></h2>
				<% if !@honor.paid %>
					<div class='honor card mbl'>
						<div class='part1'>
							<div class='col golden_section38'>
								<p>Образец диплома</p>
								<img src='/images/diploma_samples/<%= @honor.quest_id %>.jpg' />
							</div>
							<div class='col golden_section62'>
								<div class='text'>
									<h2 class=''>Это ваш диплом</h2>
									<p>Распечатайте диплом на принтере, повесьте в зоне успеха, показывайте гостям - и кроха будет стараться еще больше!</p>
									<p class='please-buy-diploma'>Купив диплом, Вы помогаете нам развивать проект!</p>
									<!--<p class='comparison'>Цена диплома = цена одной чашки кофе</p> -->
									<div class='how-to-buy'>
										<h4>Как приобрести диплом?</h4>
										<p class='point-how-to-buy'><b>1.</b> Введите ФИ ребенка, его возраст, учебное заведение и имя педагога в форме, которая находятся ниже, и нажмите кнопку <b>"Сохранить"</b>.</p>
										<p class='point-how-to-buy'><b>2.</b> После сохранения данных нажмите на красную кнопку <b>"Купить за 90 ₽"</b>.</p>
									</div>
									<!-- <p class='attention-check mtl'><b>Перед оплатой</b> диплома проверьте свои данные ниже.</p>
									<p class='attention-check'><b>После оплаты</b> диплом будет отправлен на почту в течение 12 часов.</p> -->
									<button class = 'btn btn-our-red buy' data-toggle="modal" data-target="#modal_buy_diploma">Купить за <%= @honor.price %> ₽</button>
								</div>
							</div>
							<div class='clear'></div>
							<div class='data-honor'>
								<h3 class=''>Ваши данные</h2>
								<p>Укажите верные данные. Эти данные будут отображены на дипломе. Обязательно заполните поля со звездочкой.</p>
								<div class='wrap-information-about-user'>
									
			            <%= simple_form_for(@honor, url: user_honor_path(current_user.id, @honor.id), html: { class: 'registration-form' }) do |f| %>
											<p>ФИ ребенка:<font color="red">*</font></p>
								      <%= f.input :name, label: false %>
								      <p>Возраст:<font color="red">*</font></p>
								      <%= f.input :age, label: false %>
								      <p>Учебное заведение:</p>
								      <%= f.input :school, label: false %>
								      <p>Педагог:</p>
								      <%= f.input :curator, label: false %>
								      <div class='tac'>
								      	<br>
								      	<%= f.button :submit, 'Сохранить', class: 'btn btn-our btn-our-green' %>
								      </div>
								<% end %>
								</div>
							</div>
						</div>
					</div>
				<% else %>
					<div class='honor card mbl tac honor-paid'>
						<h3>Диплом выслан на указанную Вами почту.</h3>
						<p>Если Вы его не получили, напишите нам об этом по адресу <b>monstriki.labs@yandex.ru</b></p>
						<div class='mtl'><img src='/images/logo_transparent.png' /></div>
					</div>
				<% end %>
			<div class='clear'></div>
		</div>
		<div class='clear'></div>
	</div>
</div>
<%= render 'modal_buy_diploma', honor: @honor %>
