<div class='attraction-min tasks-attraction tac'>
	<h1 class='center-title'>Тренировки</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
		<%= render "/partials/profile_big" %>
		<div class='col col-67proc ml-2proc'>
			<h2 class='h--thin mbm'>
				<span class='prxs'>Что будем тренировать?</span>
				<% if logged_in? %>
					<span class='tag tag--light tag--heading tag--heading--h2'><%= @tasks.where(only_quest: false).count %> заданий</span>
				<% else %>
					<div class='card for-unknown-user-tasks'>Сейчас доступно только по 10 заданий в каждом разделе. Зарегистрируйтесь, чтобы получить больше.</div>
				<% end %>
			</h2>

			<%= link_to logic_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-logic'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/logic.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Логика', only_quest: false).count %> заданий</span>
					</div>
					<h1 class='tcm'>Логика</h1>
				</div>
			</div>
			<% end %>

			<%= link_to memory_attention_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-memory'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/memory.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Память и внимание', only_quest: false).count %> заданий</span>
					</div>
					<h1 class='tcm'>Память и внимание</h1>
				</div>
			</div>
			<% end %>

			<%= link_to speech_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-speech'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/speech.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Речь', only_quest: false).count %> заданий</span>
					</div>
					<h1 class='tcm'>Речь</h1>
				</div>
			</div>
			<% end %>

			<%= link_to math_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-math'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/math.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Математика', only_quest: false).count %> заданий</span>
					</div>
					<h1 class='tcm'>Математика</h1>
				</div>
			</div>
			<% end %>

			<%= link_to world_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-world'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/world.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Мир вокруг нас', only_quest: false).count %> заданий</span>
					</div>
					<h1 class='tcm'>Мир вокруг нас</h1>
				</div>
			</div>
			<% end %>

		</div>
	</div>
</div>

