<div class='attraction-min tasks-attraction tac'>
	<h1 class='center-title'>Тренировки</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
		<%= render "/partials/profile_big" %>
		<div class='col col-67proc ml-2proc'>
			<h2 class='h--thin mbm'><span class='prxs'>Что будем тренировать?</span> <span class='tag tag--light tag--heading tag--heading--h2'><%= @tasks.count %> заданий</span></h2>

			<%= link_to logic_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-logic'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/logic.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Логика').count %> заданий</span>
					</div>
					<h1 class='tcm'>Логика</h1>
				</div>
			</div>
			<% end %>

			<%= link_to memory_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-memory'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/memory.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Память').count %> заданий</span>
					</div>
					<h1 class='tcm'>Память</h1>
				</div>
			</div>
			<% end %>

			<%= link_to attention_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-attention'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/attention.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Внимание').count %> заданий</span>
					</div>
					<h1 class='tcm'>Внимание</h1>
				</div>
			</div>
			<% end %>

			<%= link_to math_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-math'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/math.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Математика').count %> заданий</span>
					</div>
					<h1 class='tcm'>Математика</h1>
				</div>
			</div>
			<% end %>

			<%= link_to world_tasks_path, class: "snap-sound" do %>
			<div class='card direction direction-world'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/direction_pics/world.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading tag--big-size'><%= @tasks.where(direction: 'Мир вокруг нас').count %> заданий</span>
					</div>
					<h1 class='tcm'>Мир вокруг нас</h1>
				</div>
			</div>
			<% end %>

		</div>
	</div>
</div>

