<div class='row wrap-monster-card'>
	<div class='row first-page-elm'>
		<div class='cell'>
			<%= render "/partials/profile_big" %>
			<div class='col col-press-80 ml-2proc'>
				<div class='col golden_section38 col-padding-r'>
					<div class='monster-card'>
						<div class='card tac'>
							<h2>Карта монстрика</h2>
							<img src='/images/pic_monster_card.png' />
							<h3 class='name-field'><%= current_user.name %></h3>

							<% 
								age = current_user.age
								age_text = 'лет'
								if age == 3  || age == 4
									age_text = 'года'
								end
							%>
							<h4 class='age-field'><%= age %> <%= age_text %></h4>

								<div class='wrap-button-pay mtm'>
									<%= link_to 'Купить', payment_path, class: 'btn btn-our-green' %>
								</div>
							</h5>
						</div>
					</div>
				</div>
				<div class='col golden_section62 col-padding-l'>
					<div class='card glass-background description-monster-card floating'>
						<h2 class='tac'>Что дает карта монстрика?</h2>
						<p><span>1.</span> Возможность сразу перейти к следующей интеллектуальной игре, если такая имеется. На данный момент интеллектуальных игр <b><%= @number_of_IG %></b>.</p>
						<p><span>2.</span> Возможность возвращаться к пройденным квестам.</p>
						<p><span>3.</span> Доступ ко всем заданиям для всех возрастов.</p>
					</div>
				</div>
				<div class='clear'></div>
			</div>
		</div>
	</div>
</div>