<!--<div class='attraction reg-attraction tac'>
	
</div> -->
<div class='row first-page-elm reg-page'>
	<div class='cell'>
		<div class='reg-form'>
			<%= simple_form_for(@user, url: users_path, html: { class: 'registration-form' }) do |f| %>
					<div class='first-part tac card'>
						<h2 class='tac'>Регистрация</h2>
			      <%= f.input :name, label: false, input_html: { class: 'input-sp',  placeholder: 'Фамилия и имя ребенка' } %>
			      <%= f.input :age, collection: 4..7, label: false, prompt: "Сколько лет ребенку?" %>
			      <%= f.input :goal, collection: [ "Подготовка к школе", "Развитие логики, памяти и внимания у ребенка", "Хочу развлечь ребенка с пользой"], label: false, prompt: "Какая цель?" %>

			      <a class='continue-reg btn btn-our btn-our-green'>Продолжить</a>
			    </div>
					<div class='second-part card displaynone'>
						<h2 class='tac'>Уже почти готово!</h2>
			      <%= f.input :email, label: false, input_html: { class: 'input-sp',  placeholder: 'Электронный адрес' } %>
			      <%= f.input :password, label: false, input_html: { class: 'input-sp',  placeholder: 'Пароль' } %>
			      <%= f.input :password_confirmation, label: false,  input_html: { class: 'input-sp',  placeholder: 'Повторите пароль' } %>
			      <%= f.input :terms_of_service, as: :boolean, label: "Я ознокомлен(а) и принимаю #{link_to 'пользовательское соглашение', agreement_path}.".html_safe %>
			      <%= f.button :submit, 'Создать монстрика!', class: 'btn btn-our btn-our-green' %>
			    </div>
			<% end %>
		</div>
	</div>
</div>

