<!--<div class='attraction reg-attraction tac'>
	
</div> -->
<div class='row first-page-elm reg-page'>
	<div class='cell'>
		<div class='col col-2of6'>
			<div class='reg-form card'>
				<h2 class='tac'>Добро пожаловать!</h2>
				<%= simple_form_for(@user, url: users_path, html: { class: 'registration-form' }) do |f| %>
			      <%= f.input :email, label: false, input_html: { class: 'input-sp',  placeholder: 'Электронный адрес' } %>
			      <%= f.input :password, label: false, input_html: { class: 'input-sp',  placeholder: 'Пароль' } %>
			      <%= f.input :password_confirmation, label: false,  input_html: { class: 'input-sp',  placeholder: 'Повторите пароль' } %>
			      <%= f.button :submit, 'Зарегистрироваться', class: 'btn btn-our btn-our-green' %>
			  <% end %>
			</div>
		</div>
		<div class='col col-4of6'>
			
		</div>
	</div>
</div>

<style>
	
</style>