<div class='attraction users-attraction'>
	<div class='row'>
		<%= render 'user_attraction' %>
	</div>
</div>
<div class='row user-page-menu'>
	<%= render 'user_menu', user: @user %>
</div>
<div class='row'>
	<div class='cell mts'>
		<div class='col col-press-25 user-page-profile'>
			<%= render "/partials/user_monster", user: @user %>
		</div>
		<div class='col col-press-74 col-padding all-things fr'>
			<h2 class='h--thin mbs'><span class='prxs'>Награды</span> <span class='tag tag--light tag--heading tag--heading--h2'><%= @user.honors.all.count %></span></h2>
			<% @honors.each.with_index(0) do |honor, i|%>
				<% tour_name = Quest.find(honor.quest_id).tour_name %>
				<% if logged_in? && (current_user.id == honor.user_id || current_user.admin) %>
					<%= link_to user_honor_path(@user.id, honor.id) do %>
						<div class='col col-press-25 card thing'>
							<img src='/images/quest-pics/<%= honor.quest_id %>.jpg' />
							<div class='col col-press-80 tour-name-honor tac'>
								<h5 class='name'><%= tour_name %></h5>
							</div>
							<div class='col col-press-20 img-medal-honor tac'>
								<img src='/images/degree<%= honor.degree %>.jpg' />
							</div>
						</div>
					<% end %>
				<% else %>
					<div class='col col-press-25 card thing'>
						<img src='/images/quest-pics/<%= honor.quest_id %>.jpg' />
						<h5 class='name tac'><%= @user.honors.all.count - i %> ТУР, <%= honor.degree %> место</h5>
					</div>
				<% end %>
			<% end %>
			<div class='clear'></div>
		</div>
		<div class='clear'></div>
	</div>
</div>
