<!DOCTYPE html>
<html>
<head>
  <title>Monstriki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "partials/meta" %>
  <%= render "partials/metrika" unless current_user.try(:admin?) %>
  <meta name="yandex-verification" content="87c91f34655ab08c" />
  <script src="//cdn.jsdelivr.net/sortable/latest/Sortable.min.js"></script>
  <script src="https://npmcdn.com/react-motion/build/react-motion.js"></script>
  <script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js'></script>
  <script type="text/javascript" src="http://vk.com/js/api/share.js?94" charset="windows-1251"></script>
</head>
<body>
	<div class='div-body'>
		<header  class='row hat'>
			<div class='cell'>
				<%= link_to start_path do %>
					<span id='header-logo'><img src ='/images/logo-img.png' /> <span>Монстрики</span></span>
				<% end %>
				<% if logged_in? %>
					<%= link_to 'Квест', start_path, class: "menu-point quest-menu-point" %>
					<%= link_to 'Тренировки', tasks_path, class: "menu-point train-menu-point" %>
					<%= link_to 'Бубуки', things_path, class: "menu-point things-menu-point" %>
				<% end %>
				<% if logged_in? && current_user.admin? %>
					<%= link_to 'Модерация', moderation_tasks_path, class: "menu-point moderation-menu-point" %>
					<%= link_to 'Админка', admin_root_path, class: "menu-point admin-menu-point" %>
				<% end %>
				<div class='right-part'>
					<% if logged_in? %>
		        <%= link_to 'Мой профиль', user_path(current_user), id: 'sign-in' %>
		      <% else %>
						<%= link_to 'Создать аккаунт', signup_path, class: 'create-accaunt btn snap-sound' %>
						<%= link_to 'Войти', signin_path, class: 'signin-button btn' %>
					<% end %>
				</div>
			</div>
		</header>
		<%= yield %>
		<div class='footer-pre-footer'>
			<div id='pre-footer'></div>
			<div id='footer'>
				<div class='row'>
					<div class='cell'>
						<div class='column info'>
							<%= link_to "Родителям", parents_path %>
							<%= link_to "Соглашение", agreement_path %>
							<%= link_to "Наши услуги", services_path %>
							<%= link_to "Контакты", contacts_path %>
						</div>
						<div class='column logo'>
							<img width='50' src ='/images/logo-img-opacity0.png' />
						</div>
						<div class='column contacts'>
							<!--<a><img src='/images/facebook.png' /></a>-->
							
							<a href='https://vk.com/monstriki.labs' target='_blank'><img src='/images/vk.png' /></a>
							<a href='https://ok.ru/group/54913719926790/topics' target='_blank'><img src='/images/odnoklassniki-logo.png' /></a>

						</div>
					</div>
				</div>
			</div>
		</div>
		<% if logged_in? && current_user.user_things.all.count > 0 %>
			<%= render '/partials/ground' %>
		<% end %>
		<% flash.each do |key, value| %>
		  <div class="animated flipInY alert alert-<%= key %>"><%= value %></div>
		<% end %>
	</div>
</body>
</html>
